<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789972779702-epneggreuhd00tm4rb9sekfig8p3907v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789972779702-epneggreuhd00tm4rb9sekfig8p3907v</string>
	<key>API_KEY</key>
	<string>AIzaSyCowCL4P2k5D9TjTjLy8drf45VcIIMHe58</string>
	<key>GCM_SENDER_ID</key>
	<string>789972779702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dominikkowv.FirebaseLearining</string>
	<key>PROJECT_ID</key>
	<string>fir-learining</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learining.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789972779702:ios:fd87388f4587ef6b145c17</string>
</dict>
</plist>